<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <title>Activity Tracker</title>
  </head>
  <body>
    <h1 class="text-center">Activity Index Page</h1>
    <div class="container-fluid">
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Activity</th>
          <th>Time</th>
          <th>Date</th>
        </tr>
        <tbody>
          <% for (let i = 0; i < activities.length; i++) { %>
          <tr>
            <td> <%= activities[i].name %></td>
            <td> <%= activities[i].activity %></td>
            <td> <%= activities[i].time %> hr</td>
            <td> <%= activities[i].date %></td>
          </tr>
          <% } %>
      </tbody>
      </table>
    </div>
    <div class="text-center">
      <a class="btn-success btn-lg" href="/activities/new">Create New Activity</a></a>
    </div>
  </body>
</html>
